:root {
    --primary: hsl(245, 68%, 55%);
    --warning: hsl(28, 96%, 53%);
    --info: hsl(311, 61%, 49%);
    --gray: hsl(240, 6%, 59%);
    --dark-dark: hsl(240, 17%, 14%);
    --dark: #262836;
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--dark-dark);
    color: var(--white);
}

.container {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 15px;
}


/*************************************************************/
/* Start Header */
/*************************************************************/

.header {
    background-color: var(--dark);
}

.header .container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header .container .logo {
    cursor: pointer;
}

.header .container .search {
    width: 268px;
    height: 36px;
    background-color: var(--dark-dark);
    color: var(--white);
    padding: 5px 12px;
}

.header .container .search input {
    width: 100%;
    background-color: transparent;
    color: var(--white);
}

.header .container .action {
    display: flex;
    gap: 20px;
}

.header .container .action svg {
    cursor: pointer;
}

.header .container .action .user-photo {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 640px) {
    .header .container .search {
        display: none;
    }
}

/*************************************************************/
/* End Header*/
/*************************************************************/


/*************************************************************/
/* Start Main */
/*************************************************************/
main .container {
    display: flex;
    padding-top: 30px;
    gap: 28px;
}

.main {
    flex: 1;
}

/*************************************************************/
.main .main-story-box {
    background-color: var(--dark);
    border-radius: 3px;
    padding: 16px;
    height: 117px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.main .main-story-box .story {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37%;
    border: solid transparent;
    background: linear-gradient(80deg, var(--info), var(--warning)) border-box;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.main .main-story-box .story img {
    width: 66px;
    height: 66px;
    border-radius: 37%;
}
/*************************************************************/

/*************************************************************/
.main-post-box {
    display: flex;
    flex-direction: column;
}
.main-post-box .post-box {
    width: 100%;
    background-color: var(--dark);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
}
.main-post-box .post-box .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
}
.main-post-box .post-box .post-header .post-info {
    display: flex;
    align-items: center;
    gap: 15px;
}
.main-post-box .post-box .post-header .post-info .profile-name {
    display: flex;
    flex-direction: column;
}
.main-post-box .post-box .post-header .post-info .profile-name .name {
    font-weight: 700;
}
.main-post-box .post-box .post-header .post-info .profile-name .username {
    font-size: 14px;
    color: var(--gray);
}
.main-post-box .post-box .post-header .post-info .profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--primary);
    
}
.main-post-box .post-box .post-header .post-info .profile-img img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.main-post-box .post-box .post-content {
    margin-bottom: 17px;
}
.main-post-box .post-box .post-content img{
    width: 100%;
    height: inherit;
}

.main-post-box .post-box .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-post-box .post-box .post-footer .like-action {
    display: flex;
    gap: 17px;
}
/*************************************************************/




/*************************************************************/
.profile-main {
    width: 293px;
}
.profile-main .user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.profile-main .user-box .user-info {
    display: flex;
    align-items: center;
    gap: 14px;
}
.profile-main .user-box .user-info .profile-name {
    display: flex;
    flex-direction: column;
}
.profile-main .user-box .user-info .profile-name .name {
    font-size: 17px;
    font-weight: 600;
}
.profile-main .user-box .user-info .profile-name .username {
    font-size: 14px;
    color: var(--gray);
}
.profile-main .user-box .user-info .profile-img img {
    width: 56px;
    height: 56px;
    border-radius: 50%;

}

.profile-main .user-box .switch {
    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 990px) {
    .profile-main {
        display: none;
    }
}
/*************************************************************/
/*************************************************************/
/* End Main */
/*************************************************************/