body {
  background-color: var(--bg-color);
  color: var(--blueColor);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.api-content {
  
  padding: 0 20px;
  margin-bottom: 100px;

  .api-list, .bookmark-list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
    @media (max-width: 910px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 572px) {
      grid-template-columns: repeat(1, 1fr);
    }
  
  }
}


.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}